@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-full;
}

body {
    /* @apply bg-[#09090A] text-zinc-100; */
    background: linear-gradient(to right, #f4f8f9 1%, #c8d8db 150%);
    @apply text-zinc-700 text-sm h-full;
}

::-webkit-scrollbar {
    width: 10px;
    background: #c1c5c5;
}
::-webkit-scrollbar-thumb {
    background: #515e65;
}
::-webkit-scrollbar-track {
    background-color: #c1c5c5;
}

.form {
    @apply text-sm placeholder-zinc-400 border-zinc-200 bg-white focus:border-davita-blue-1 focus:ring-davita-blue-1 focus:ring-[0.01rem] resize-none scrollbar scrollbar-thumb-zinc-700 scrollbar-track-transparent scrollbar-thin
}

.ckeckbox {
    @apply appearance-none border-zinc-300 focus:border-davita-blue-1 focus:ring-davita-blue-1 focus:ring-[0.01rem] checked:bg-davita-blue-1 checked:hover:bg-davita-blue-1 checked:focus:bg-davita-blue-1
}

.seila {
    transition: all 1s;
}